
.hor-slide-container{
    list-style-type: none;
    display: flex;
    justify-content: center;
        width: inherit;
     height: 500px;
    border: 1px solid rgb(177, 177, 177);
      padding: 3px;
      margin: 2px;
     box-shadow: 0px 7px 10px gainsboro;
     overflow-x: auto;
  }
  
  .card{
    min-width: 400px;
     min-height: 470px;
    border: 1px solid rgb(226, 226, 226);
      padding: 3px;
      margin: 10px;
     box-shadow: 0px 5px 20px rgb(202, 202, 202);
     border-radius: 10px;
     
  }

  